.inp{
    background: rgba(31, 63, 132, 0.25);
}

.modal-b{
    background: rgba(0, 0, 0, 0.3);
}

.modal-c{
    background-color: #14213D;
    border-radius: 2rem;
}

.hidden-c{
    visibility: hidden;
}