@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&family=Poppins:wght@600&display=swap');


.general-container{
    width: 380px;
    height: 840px;
    border-radius: 20px;
}

.components-container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
}

.perfil{
    border-radius: 50%;
}

.interaccion{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.detalle{
   
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}